/***********************/
/*HEADER*/
/***********************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;

}

.main-nav {
}

.main-nav-list {
    display: flex;
    font-size: var(--font-size-large);
    color: var(--color-primary);
    gap: var(--space-xl);


}

.main-nav-list li {
    transition: all 0.3s;
}

.main-nav-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
}

.cart-icon {
    margin-right: 1rem;
    padding-right: 2rem;
    border-right: 3px solid var(--color-gray);
}

.btn {
    padding: 0.6rem 2rem;
    border-radius: 20rem;
    font-size: var(--font-size-medium);
}

.btn-login {
    color: var(--color-primary);
}

.btn-signup {
    background-color: var(--color-primary);
    color: var(--color-gray);
}


.main-nav-list li:hover {
    color: var(--color-gray-dark);
}

.btn-login:hover {
    color: var(--color-primary-tint-1);
    background-color: var(--color-primary);

}

.btn-signup:hover {
    color: var(--color-primary-tint-1);
}


/***********************/
/*MAIN*/
/***********************/


/***********************/
/*HERO*/
/***********************/
.section.hero-section {
    padding-top: 2rem;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.hero-text-box {
    border-radius: var(--border-radius-normal);
    background-color: var(--color-primary-tint-1);
    padding: 5.5rem 3.3rem;

}

.hero-header {
    font-size: var(--font-size-10xl);
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.hero-description {
    font-size: var(--font-size-xxl);
    margin-bottom: 2.6rem;


}

.btn-box {

    padding: 0.8rem 2.5rem 0.8rem 0.8rem;
    background-color: white;
    display: flex;
    font-size: var(--font-size-large);
    max-width: max-content;
    border-radius: 20rem;
    margin-bottom: 12.6rem;
}

.btn-box a {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-btn-icon {
    font-size: var(--font-size-xxl);
    background-color: var(--color-primary);
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    padding: 0.5rem;
    transition: all 0.3s;

}

.hero-brand-box {

}

.hero-brand {
    text-transform: uppercase;
    font-size: var(--font-size-large);
    margin-bottom: 2rem;
    font-weight: 500;
}

.hero-brand-img-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.hero-brand-img-box img {
    width: 8rem;
}

.her-img-box {
    border-radius: var(--border-radius-normal);

    background-image: url("img/hero-img.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero-play-box {
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #fff;
    padding: 3rem;
    border-radius: var(--border-radius-normal) 0 0 0;
}

.hero-play-box a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

}

.play-icon {
    font-size: var(--font-size-xxl);
    background-color: var(--color-primary);
    color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 20rem;
    padding: 2rem;
    transition: all 0.4s;

}

.play-text {
    font-size: var(--font-size-xxl);
    transition: all 0.2s;
}

.play-text:hover {
    color: var(--color-gray-dark);
}

.play-icon:hover {
    padding: 1.6rem;

}

.hero-btn-icon:hover {
    transform: translateX(1rem);

}


/***********************/
/*STATISTICS*/
/***********************/

.section-statistics {

}


.statistics-header-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10rem;
}

.statistics-header-container h2 {
    font-size: var(--font-size-6xl);
    font-weight: 200;
    max-width: 40%;

}


.btn-box-border {
    border: 1px solid var(--color-gray-dark);
    margin-bottom: 0;
}

.statistics-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;

}

.statistic-data {
    padding: 70px 60px;
    border-radius: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistic-data-header {
    font-size: var(--font-size-8xl);
}

.statistic-data-description {
    font-size: var(--font-size-3xl);

}

.data-1 {
    background-color: var(--color-gray);
}

.data-2 {
    background-color: var(--color-primary);
    color: var(--color-primary-tint-1);
}

.data-3 {
    background-color: var(--color-primary-tint-1);

}

/***********************/
/*TESTIMONIAL */
/***********************/
.section-testimonial {
    display: grid;
    grid-template-rows: 1fr 1fr  1fr;
    grid-row-gap: 16rem;
}

.testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 6rem;
    align-content: center;

}

.testimonial-img-box {
    min-height: 600px;
    border-radius: 33px;
    display: flex;
    overflow: hidden;
}

.testimonial-img-box img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


.testimonial-text-box {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimonial-text {
    font-size: var(--font-size-5xl);
    text-align: center;
    margin-bottom: 2rem;
}

.testimonial-link {
    font-size: var(--font-size-xl);
    text-align: center;
    transition: all 0.5s;


}

.testimonial-icon {
    margin-bottom: -0.5rem;
    margin-left: 1rem;
    transition: transform 0.5s;
}

.testimonial-icon:hover {
    transform: rotate(-30deg);
}

.testimonial-link:hover {
    color: var(--color-gray-dark);
}

/***********************/
/*steps */
/***********************/

.section-steps {
    background-color: var(--color-gray);
}

.steps-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.steps-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.steps-text-box p {
    font-size: var(--font-size-8xl);
}

.steps-text-box img {

    margin-bottom: 12rem;
}

.steps-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

.step-box {
    background-color: #fff;
    border-radius: var(--border-radius-normal);
    padding: 3rem;
    overflow: hidden;

}

.step-box-header {
    padding: 1rem;
    display: inline-block;
    border-radius: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 4rem;
    background-color: var(--color-primary-tint-1);
    transition: all 0.4s;
}

.step-box-header span {
    margin-right: 4rem;
}

.step-box-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.step-box-list li {
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--color-primary);
    transition: all 1.5s;


}

.step-box-header:hover {
    background-color: var(--color-primary);
    color: #fff;
}

.step-box-list li:hover {
    transform: translate(70px);

}

.section-clients {

}

.clients-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

}

.clients-header-text {
    font-size: var(--font-size-5xl);
}

.clients-icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.clients-icon {
    width: 3rem;
    height: 3rem;
}


.clients-scroller-container {
    overflow-x: scroll;
    overflow-y: hidden;
    /*white-space: nowrap;*/
    padding: 2rem;
    display: grid;
    gap: 4rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

.client {
    width: 100%;
    height: 360px;
    min-width: 660px;
    background-color: var(--color-primary-tint-1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    border-radius: var(--border-radius-normal);
    color: var(--color-primary);
}

.client-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8rem;

}

.client-header .percentage {
    font-size: var(--font-size-10xl);
}

.client-header .percentage-description {
    font-size: 24px;

}

.client-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-result {
    display: flex;
    /*border:2px solid var(--color-gray-dark);*/
    align-items: center;
    padding: 0.8rem 1.6rem;
    border-radius: 20rem;
    gap: 2rem;
    background-color: var(--color-primary);
    color: var(--color-primary-tint-1);

}

.view-result p {
    font-size: 2rem;

}

.result-icon-box {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.4s;
}

.result-icon {
    width: 3rem;
    height: 3rem;
    color: var(--color-primary);
}

.client-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.client-profile img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.client-name {
    font-size: 2rem;
}

.client-job {
    font-size: 1.2rem;

}

.active .client-header {
    color: var(--color-primary-tint-1);
}

.active {
    background-color: var(--color-primary);
}

.active .client-profile {
    color: var(--color-primary-tint-1);
}

.active .view-result {
    background-color: #fff;
    color: var(--color-primary);
}

.active .result-icon-box {
    background-color: var(--color-primary);
}

.result-icon-box:hover {
    transform: translateX(1rem);
}


.active .result-icon {
    color: white;
}

/***********************/
/*QUESTIONS */
/***********************/

.questions-container {
    display: grid;
}

.question-section-title {
    font-size: var(--font-size-5xl);
    font-weight: 200;
    letter-spacing: 5px;
    margin-bottom: 4rem;
    text-align: center;
}

.questions {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    justify-self: center;
    padding: 2rem 4rem;
}

.question {
    padding-bottom: 1rem;
    border-bottom: 3px solid var(--color-gray);
    margin-bottom: 2rem;

}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.question-header p {
    font-size: 2.1rem;
}

.question-answer {
    font-size: 1.6rem;
    margin-top: 2rem;

}


.answer-closed .question-answer {
    display: none;

}


.question-icon-close {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;

}

.question-icon-open {
    display: none;

}

.answer-closed .question-icon-close {
    display: none;

}

.answer-closed .question-icon-open {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
}

.result-icon-box:hover {
    transform: translateX(1rem);

}

/***********************/
/*CALL TO ACTION  */
/***********************/

.section-cta {

}

.cta-container {

    background-color: var(--color-primary-tint-1);
    border-radius: var(--border-radius-normal);
    display: grid;
    grid-template-columns: 60fr 40fr;
    padding: 0;
    overflow: hidden;

}


.cta-text {
    background-color: var(--color-primary-tint-1);
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
    text-align: center;
    padding: 4rem;

}

.cta-illustrator {
}

.cta-heading {
    font-size: var(--font-size-8xl);
    margin-bottom: 4rem;
}

.cta-description {
    font-size: var(--font-size-xl);
    margin-bottom: 2rem;


}


.cta-img {
    display: flex;
    overflow: hidden;
    max-height: 600px;
    opacity: 0.8;
}

.cta-img img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;

}

.cts-btn-box {
    margin-bottom: 0;
}
