/***********************/
/*HEADER*/
/***********************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;

}

.main-nav {
}

.main-nav-list {
    display: flex;
    font-size: var(--font-size-large);
    color: var(--color-primary);
    gap: var(--space-xl);


}

.main-nav-list li {
    transition: all 0.3s;
}

.main-nav-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-small);
}

.cart-icon {
    margin-right: 1rem;
    padding-right: 2rem;
    border-right: 3px solid var(--color-gray);
}

.btn {
    padding: 0.6rem 2rem;
    border-radius: 20rem;
    font-size: var(--font-size-medium);
}

.btn-login {
    color: var(--color-primary);
}

.btn-signup {
    background-color: var(--color-primary);
    color: var(--color-gray);
}


.main-nav-list li:hover {
    color: var(--color-gray-dark);
}

.btn-login:hover {
    color: var(--color-primary-tint-1);
    background-color: var(--color-primary);

}

.btn-signup:hover {
    color: var(--color-primary-tint-1);
}


/***********************/
/*MAIN*/
/***********************/


/***********************/
/*HERO*/
/***********************/
.section.hero-section {
    padding-top: 2rem;
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.hero-text-box {
    border-radius: var(--border-radius-normal);
    background-color: var(--color-primary-tint-1);
    padding: 5.5rem 3.3rem;

}

.hero-header {
    font-size: var(--font-size-10xl);
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.hero-description {
    font-size: var(--font-size-xxl);
    margin-bottom: 2.6rem;


}

.btn-box {

    padding: 0.8rem 2.5rem 0.8rem 0.8rem;
    background-color: white;
    display: flex;
    font-size: var(--font-size-large);
    max-width: max-content;
    border-radius: 20rem;
    margin-bottom: 12.6rem;
}

.btn-box a {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.hero-btn-icon {
    font-size: var(--font-size-xxl);
    background-color: var(--color-primary);
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 20rem;
    padding: 0.5rem;
    transition: all 0.3s;

}

.hero-brand-box {

}

.hero-brand {
    text-transform: uppercase;
    font-size: var(--font-size-large);
    margin-bottom: 2rem;
    font-weight: 500;
}

.hero-brand-img-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.hero-brand-img-box img {
    width: 8rem;
}

.her-img-box {
    border-radius: var(--border-radius-normal);

    background-image: url("img/hero-img.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.hero-play-box {
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: #fff;
    padding: 3rem;
    border-radius: var(--border-radius-normal) 0 0 0;
}

.hero-play-box a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

}

.play-icon {
    font-size: var(--font-size-xxl);
    background-color: var(--color-primary);
    color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 20rem;
    padding: 2rem;
    transition: all 0.4s;

}

.play-text {
    font-size: var(--font-size-xxl);
    transition: all 0.2s;
}

.play-text:hover {
    color: var(--color-gray-dark);
}

.play-icon:hover {
    padding: 1.6rem;

}

.hero-btn-icon:hover {
    transform: translateX(1rem);

}


/***********************/
/*STATISTICS*/
/***********************/

.section-statistics{

}


.statistics-header-container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10rem;
}
.statistics-header-container h2 {
    font-size: var(--font-size-6xl);
    font-weight: 200;
    max-width: 40%;

}



.btn-box-border{
    border:1px solid var(--color-gray-dark);
    margin-bottom: 0;
}
.statistics-data-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: center;

}
.statistic-data{
    padding: 70px 60px;
    border-radius: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistic-data-header{
    font-size: var(--font-size-8xl);
}
.statistic-data-description{
    font-size: var(--font-size-3xl);

}
.data-1{
    background-color: var(--color-gray);
}

.data-2{
    background-color: var(--color-primary);
    color: var(--color-primary-tint-1);
}

.data-3{
    background-color: var(--color-primary-tint-1);

}

